doctype html
html(lang='ja')
  head
    title Heroku Static Site - Sample 
    link(href='/css/main.css' rel='stylesheet')
    meta(name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

  body
    #content
      .title this is test site
      .boxes
        .box1
        .box2
        .box3
